<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-lg-start text-center">
                <div class="d-inline-flex align-items-center">
                    <p><i class="fa-solid fa-envelope me-2"></i>vantranthanhh@gmail.com</p>
                    <p class="px-3">|</p>
                    <p><i class="fa-solid fa-phone-flip"></i>+0354034706</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 text-center text-lg-end">
                
                    {{!-- <a class="text-primary px-3" href="">
                            <i class="fab fa-facebook-f text-success"></i>
                        </a>
                        <a class="text-primary px-3" href="">
                            <i class="fab fa-twitter text-success"></i>
                        </a>
                        <a class="text-primary px-3" href="">
                            <i class="fab fa-linkedin-in text-success"></i>
                        </a>
                        <a class="text-primary px-3" href="">
                            <i class="fab fa-instagram text-success"></i>
                        </a>
                        <a class="text-primary ps-3" href="">
                            <i class="fab fa-youtube text-success"></i>
                        </a> --}}
                        <a href="/login" class="btn  text-decoration-none"><i class="fa-solid fa-users me-2"></i>Đăng nhập</a>
                        <a href="/register" class="btn btn-primary text-decoration-none">Đăng Kí</a>
                
            </div>
        </div>
    </div>
</div>

<!--Navbar start-->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 mx-5">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-uppercase"><h1 class="text-dark">travel<span class="text-success">er</span></h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-5 justify-content-end" id="navbar-menu">
            <ul class="navbar-nav ">
                <li class="nav-item">
                <a class="nav-link active text-success" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Tour Packages</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Blog Gird</a></li>
                    <li><a class="dropdown-item" href="#">Blog Detail</a></li>
                    <li><a class="dropdown-item" href="#">Destination</a></li>
                    <li><a class="dropdown-item" href="#">Travel Guides</a></li>
                    <li><a class="dropdown-item" href="#">Testimonial</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--Navbar end-->